<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	<!--  CRUD (Create, Read, Update, Delete) -> DB구축  -->
	<insert id="insertTag" parameterType="String">
		insert into tags values(#{ value }, 1)
	</insert>
	
	<select id="checkTag" parameterType="String" resultType="int">
		select count(*) from tags where name = #{ value } 
	</select>
	
	<update id = "updateCumulativeTag">
		update tags set cumulative = cumulative + 1 where name = #{ value }
	</update>
	
	<select id = "getTags" resultType="tagDTO" parameterType="map">
		select * from (select name, cumulative, rownum r
		from (select * from tags order by cumulative desc) order by cumulative desc)
		where cumulative > 0 and r <![CDATA[>=]]> #{ startRow } and r <![CDATA[<=]]> #{ endRow }  
	</select>
</mapper>